body {
    background-image: url(images/background-paper.jpg);
}

.navbar-brand {
    background-color: #b0300b;
    color: #25322b;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 40px;
    padding: 15px;
}

.navbar {
    padding: 0;
}

.nav-item.contact {
    margin-right: 40px;
}

.custom-nav {
    background-color: #e8f0f3;
}

.nav-link {
    color: #202d24;
}

.container {
    width: 960px;
    background-color: #e8f0f3;
    margin-top: 30px;
    margin-left: 40px;
}

.img {
    width: 150px;
    height: 150px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #202d24;
    padding: 10px;
}

p {
    line-height: 1.5em;
}