html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
    background-image: url('images/background-4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 75%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, #a4b357 0%, #75890c 100%);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    text-align: center;
    padding: 5px;
}

.footer-inner {
    display: flex;
    justify-content: center;
}

.fa {
    color: white !important;
}

@media (min-width: 450px) {
    li {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
}