html {
    position: relative;
    min-height: 155%;
}

body {
    min-height: 980px;
    margin-bottom: 0px;
    clear: both;
    font-size: 16px;
    /* Margin bottom by footer height */
    background-image: url('../images/background-4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 75%;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, #a4b357 0%, #75890c 100%);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    text-align: center;
    padding: 5px;
}

.footer-inner {
    display: flex;
    justify-content: center;
}

.linksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa {
    color: white !important;
}

.fa-map-marker,
.fa-comment,
.fa-phone {
    color: red !important;
}

.contact-info .fa {
    padding-right: 5px;
}

#contact .form-control {
    border: none;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 0px;
    box-shadow: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
    border-bottom-color: #999999;
}

#contact input {
    height: 55px;
}

#contact button#submit {
    background: #2b2b2b;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    height: 50px;
    margin-top: 24px;
}

#contact button#submit:hover {
    background: #7682cc;
    color: #ffffff;
}

@media (max-width: 450px) {
    h2 {
        text-align: center;
    }
}


@media (min-width: 450px) {
    li {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    body {
        font-size: 1.2vw;
    }

    html {
        min-height: 100%;
    }

}